<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Website</th>
    <th scope="col">Description</th>
    <th scope="col">User</th>
    <th scope="col">Created On</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of arrCase; let i = index ">
    <th scope="row">{{i}}</th>
    <td>{{item?.name}}</td>
    <td>{{item?.website}}</td>
    <td>{{item?.description}}</td>
    <td>{{item?.name}}</td>
    <td>{{item?.updated_at  | date:'MMM d, y, h:mm:ss a'}}</td>
  </tr>
  </tbody>
  <div [hidden]="shower" align="center" class="nodatafound">No Records Found</div>
</table>
</body>
</html>

