<div align="center">
  <form [formGroup]="AddDataForm" (ngSubmit)="onSubmit()">
    <label>
      Add Name:
      <input type="text" formControlName="name">
    </label>
<br>
    <label>
      Add Email:
      <input type="text" formControlName="email">
    </label>
<br>
    <label>
      Add Phone:
      <input type="text" formControlName="phone">
    </label>
<br>
    <label>
      Add Desc:
      <input type="text" formControlName="description">
    </label>
<br>
    <label>
      Website Link:
      <input type="text" formControlName="website">
    </label>
<br>

    <button type="submit" [disabled]="!AddDataForm.valid">Submit</button>
  </form>
<br>
<br>
<br>
  {{state}}
</div>
