<div class="container-fluid" >
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">My Project</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-4">
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="goHome()" >Get Data</a></li>
          <li><a (click)="createPage()">Create Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
